<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BasePath" value="C:\active-git\ShortOrder\src\shortorder.http\WebClientOrderForm"/>
    <add key="RabbitHost" value="localhost"/>
    <add key="CouchHost" value="localhost"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>